
body {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

#text {
  position: relative;
  color: white;
  top: 40%;
  text-align: center;
  font-size: 100px;
  animation: fadeInAnimation ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#starsign {
  color: rgb(250, 122, 122);
  animation: fadeInAnimation ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media (max-width: 767px) { /* Adjust breakpoint as needed */
  #text {
    transform: translateY(-250px);
    font-size: 60px;
  }
}
